<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782972557756-1d9v8lneiscojlko5m4u5isq2g1j8pvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782972557756-1d9v8lneiscojlko5m4u5isq2g1j8pvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDhDGPaSjUFSkAzwmqnaKE16jYUSBL0jGc</string>
	<key>GCM_SENDER_ID</key>
	<string>782972557756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ashleywilkeson.capstone-btownbars</string>
	<key>PROJECT_ID</key>
	<string>btown-bars</string>
	<key>STORAGE_BUCKET</key>
	<string>btown-bars.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782972557756:ios:d4321373471c14f7</string>
	<key>DATABASE_URL</key>
	<string>https://btown-bars.firebaseio.com</string>
</dict>
</plist>